<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lr.mapper.SubjectTypeMapper">
    <resultMap id="BaseResultMap" type="com.lr.pojo.SubjectType">
        <id column="subjectId" jdbcType="INTEGER" property="subjectid"/>
        <result column="subjectType" jdbcType="VARCHAR" property="subjecttype"/>
        <result column="score" jdbcType="INTEGER" property="score"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="readType" jdbcType="INTEGER" property="readtype"/>
    </resultMap>
    <sql id="Base_Column_List">
    subjectId, subjectType, score, remark, readType
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from subject_type
        where subjectId = #{subjectid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from subject_type
    where subjectId = #{subjectid,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.lr.pojo.SubjectType">
    insert into subject_type (subjectId, subjectType, score, 
      remark, readType)
    values (#{subjectid,jdbcType=INTEGER}, #{subjecttype,jdbcType=VARCHAR}, #{score,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{readtype,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.lr.pojo.SubjectType">
        insert into subject_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="subjectid != null">
                subjectId,
            </if>
            <if test="subjecttype != null">
                subjectType,
            </if>
            <if test="score != null">
                score,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="readtype != null">
                readType,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="subjectid != null">
                #{subjectid,jdbcType=INTEGER},
            </if>
            <if test="subjecttype != null">
                #{subjecttype,jdbcType=VARCHAR},
            </if>
            <if test="score != null">
                #{score,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="readtype != null">
                #{readtype,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lr.pojo.SubjectType">
        update subject_type
        <set>
            <if test="subjecttype != null">
                subjectType = #{subjecttype,jdbcType=VARCHAR},
            </if>
            <if test="score != null">
                score = #{score,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="readtype != null">
                readType = #{readtype,jdbcType=INTEGER},
            </if>
        </set>
        where subjectId = #{subjectid,jdbcType=INTEGER}
    </update>
    <update id="UpdateSubjcetType" parameterType="com.lr.pojo.SubjectType">
    update subject_type set subjectType=#{subjecttype},score=#{score},remark=#{remark},readType=#{readtype} where subjectId=#{subjectid}
    </update>
<delete id="deleteByPrimaryKeys" parameterType="list">
    delete from subject_type where subjectId in
    <foreach collection="array" item="arr" open="(" separator="," close=")" >
        #{arr}
    </foreach>
</delete>
</mapper>