<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><title>
    考试页面
</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style type="text/css">
        .font {
            font-size: 13px;
        }

        body {
            background-image: url("/static/Img/back.jpg");
            /*background: #00FFFF;*/
        }

        .white {
            background: white;
        }

        .blue {
            background: #E3EAEB;
        }
    </style>
</head>
<body>
<form name="form1" method="post" action="" id="form1">

    <div>
        <table width="800" border="0" align="center" bgcolor="#FFFFFF">
            <tr>
                <td style="width: 100%">
                    <div align="center"><img src="/static/Img/zxks.jpg" width="481" height="73"/></div>
                </td>
            </tr>
            <tr>
                <td class="font" style="height: 21px; width: 100%;">&nbsp;
                    <div th:if="${AchoiceQuestion} ne null and ${AchoiceQuestion} ne ''">
                        <table cellspacing="0" cellpadding="4" border="0" id="GridView1"
                               style="color:#333333;width:100%;border-collapse:collapse;">
                            <tr style="color:White;background-color:#1C5E55;font-weight:bold;">
                                <th scope="col">
                                    <span id="GridView1_ctl01_Label5">单项选择(每题</span>
                                    <span id="GridView1_ctl01_Label27">4</span>
                                    <span id="GridView1_ctl01_Label28">分)</span>
                                </th>
                            </tr>
                            <tr style="background-color:White;" th:each="dx:${AchoiceQuestion}">

                                <td>
                                    <table th:class="${dxStat.index+1}%2==0? 'white':'blue'">
                                        <tr>
                                            <td style="width: 100%">
                                                <span id="GridView1_ctl05_Label1"
                                                      th:text="${dxStat.index+1}+'.'">4</span>
                                                <span id="GridView1_ctl05_Label2"
                                                      th:text="${dx.questionContent}">选择题</span>

                                        </tr>
                                        <tr>
                                            <td style="width: 800px">
                                                <input id="GridView1_ctl05_RadioButton1" type="radio"
                                                       name="GridView1$ctl05$g1" value="RadioButton1"/><label
                                                    for="GridView1_ctl05_RadioButton1">A</label>
                                                <input id="GridView1_ctl05_RadioButton2" type="radio"
                                                       name="GridView1$ctl05$g1" value="RadioButton2"/><label
                                                    for="GridView1_ctl05_RadioButton2">B</label>
                                                <input id="GridView1_ctl05_RadioButton3" type="radio"
                                                       name="GridView1$ctl05$g1" value="RadioButton3"/><label
                                                    for="GridView1_ctl05_RadioButton3">C</label>
                                                <input id="GridView1_ctl05_RadioButton4" type="radio"
                                                       name="GridView1$ctl05$g1" value="RadioButton4"/><label
                                                    for="GridView1_ctl05_RadioButton4">D</label></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                        </table>
                    </div>
                </td>
            </tr>


            <tr>
                <td align="center" style="width: 100%">
                    <span id="Label26" class="font">请考生提交后,填写完整考生信息,并记住准考证号,查询成绩(只有纯客观题试卷提交见成绩)</span></td>
            </tr>
            <tr>
                <td align="center" style="width:100%; height: 1px">
                    <input type="button" name="Button1" value="提交" id="Button1"
                           onclick="javascript:window.location.href='Student.html'"/></td>
            </tr>
            <tr>
                <td style="width: 583px; height: 16px;">
                </td>
            </tr>
        </table>
    </div>

    <div>

        <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION"
               value="/wEWMAKsxZOLCQLwxqTRAgLwxtD1CwLwxvyYAwLwxujDDAKb8MbKBAKb8LLuDQKb8J6DBQKb8IrYCgLe0enRDwLe0Z31BgLe0bGYDgLe0aXDAQL5+IvLAQL5+P/vCAL5+NMCAvn4x9kPAuTjrfwLAuTj2dgCAuTj9bUKAuTj4e4FAoqPlOYFAoqPgIkNArW29v0DArW24pILAuiX2eYIAuiXzQkCk4G7/AYCk4Gvkw4CvqidywwCvqiJpAQC2dP+pgoC2dPqyQICnLPOywMCnLPapAsCh9qjoQkCh9q3zgECxPrcMALE+sjfCALv5b6ODgLv5arhBgKljvTqAwKQjOu9AQLTydWBDALu0MnYBQKJ4p3/BQKk8/GlBgKM54rGBq9DzQ2ryBBgmEZ59+i+8BE0HzN8"/>
    </div>
</form>
</body>
</html>
