<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><title>
    考试页面
</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style type="text/css">
        .font {
            font-size: 13px;
        }

        body {
            background-image: url("/static/Img/back.jpg");
            /*background: #00FFFF;*/
        }

        .white {
            background: white;
        }

        .blue {
            background: #E3EAEB;
        }
    </style>
    <script type="text/javascript" src="../static/js/jquery-3.3.1.js" th:src="@{../static/js/jquery-3.3.1.js}"></script>
    <script>
        function answer() {
            var questions = [];

            var danxuan = $('input[name="danxuan"]:checked').each(function () {

                questions.push($(this).val());
            });
            var duoxuan = $('input[name="duoxuan"]:checked').each(function () {
                questions.push($(this).val());
            });
            var panduan = $('input[name="panduan"]:checked').each(function () {
                questions.push($(this).val());
            });
            var jianda = $('textarea[name="jianda"]').each(function () {
                var questionId = $(this).attr("questionId");
                questions.push(questionId + "." + $(this).val());
            });

            var biancheng = $('textarea[name="biancheng"]').each(function () {
                var questionId = $(this).attr("questionId");
                questions.push(questionId + "." + $(this).val());
            });
            return questions;
        }

        function commit() {
            $.post("commitTestPaper.action", {answer: answer().toString()}, function (data) {
                if (data == 1) {
                    alert("提交成功");
                    window.location.href = "toStudent.action"
                } else {
                    alert("提交失败");
                }
            });
        }
    </script>

</head>
<body>
<form name="form1" method="post" action="" id="form1">

    <div>
        <table width="800" border="0" align="center" bgcolor="#FFFFFF">
            <tr>
                <td style="width: 100%">
                    <div align="center"><img src="/static/Img/zxks.jpg" width="481" height="73"/></div>
                </td>
            </tr>
            <tr>
                <td class="font" style="height: 21px; width: 100%;">&nbsp;
                    <div>
                        <table cellspacing="0" cellpadding="4" border="0" id="GridView1"
                               style="color:#333333;width:100%;border-collapse:collapse;">
                            <div th:if="${AchoiceQuestion.size()>0}">
                                <tr style="color:White;background-color:#1C5E55;font-weight:bold;">
                                    <th scope="col">
                                        <span id="GridView1_ctl01_Label5">单项选择(每题</span>
                                        <span id="GridView1_ctl01_Label27"
                                              th:text="${AchoiceQuestion.get(0).getQuestionScore()}">4</span>
                                        <span id="GridView1_ctl01_Label28">分)</span>
                                    </th>
                                </tr>
                                <tr style="background-color:White;" th:each="dx:${AchoiceQuestion}">

                                    <td>
                                        <table th:class="${dxStat.index+1}%2==0? 'white':'blue'">
                                            <tr>
                                                <td style="width: 100%">
                                                <span id="GridView1_ctl05_Label1"
                                                      th:text="${dxStat.index+1}+'.'">4</span>
                                                    <span id="GridView1_ctl05_Label2"
                                                          th:text="${dx.questionContent}">选择题</span>

                                            </tr>
                                            <tr>
                                                <td style="width: 800px">
                                                    <form>
                                                        <input id="GridView1_ctl05_RadioButton1" type="radio"
                                                               name="danxuan" th:value="${dx.questionId}+'.A'"/><label
                                                            for="GridView1_ctl05_RadioButton1">A</label>
                                                        <input id="GridView1_ctl05_RadioButton2" type="radio"
                                                               name="danxuan" th:value="${dx.questionId}+'.B'"/><label
                                                            for="GridView1_ctl05_RadioButton2">B</label>
                                                        <input id="GridView1_ctl05_RadioButton3" type="radio"
                                                               name="danxuan" th:value="${dx.questionId}+'.C'"/><label
                                                            for="GridView1_ctl05_RadioButton3">C</label>
                                                        <input id="GridView1_ctl05_RadioButton4" type="radio"
                                                               name="danxuan" th:value="${dx.questionId}+'.D'"/><label
                                                            for="GridView1_ctl05_RadioButton4">D</label>
                                                    </form>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </div>
                            <!--多选题-->
                            <div th:if="${DchoiceQuestion.size()>0}">
                                <tr style="color:White;background-color:#1C5E55;font-weight:bold;">
                                    <th scope="col">
                                        <span>多项选择(每题</span>
                                        <span th:text="${DchoiceQuestion.get(0).getQuestionScore()}">4</span>
                                        <span>分)</span>
                                    </th>
                                </tr>
                                <tr style="background-color:White;" th:each="duox:${DchoiceQuestion}">

                                    <td>
                                        <table th:class="${duoxStat.index+1}%2==0? 'white':'blue'">
                                            <tr>
                                                <td style="width: 100%">
                                                <span
                                                        th:text="${duoxStat.index+1}+'.'">4</span>
                                                    <span
                                                            th:text="${duox.questionContent}">选择题</span>

                                            </tr>
                                            <tr>
                                                <td style="width: 800px">
                                                    <form>
                                                        <duoxuan class="duoxuan">
                                                            <input type="checkbox"
                                                                   name="duoxuan"
                                                                   th:value="${duox.questionId}+'.A'"/><label
                                                                for="GridView1_ctl05_RadioButton1">A</label>
                                                            <input type="checkbox"
                                                                   name="duoxuan"
                                                                   th:value="${duox.questionId}+'.B'"/><label
                                                                for="GridView1_ctl05_RadioButton2">B</label>
                                                            <input type="checkbox"
                                                                   name="duoxuan"
                                                                   th:value="${duox.questionId}+'.C'"/><label
                                                                for="GridView1_ctl05_RadioButton3">C</label>
                                                            <input type="checkbox"
                                                                   name="duoxuan"
                                                                   th:value="${duox.questionId}+'.D'"/><label
                                                                for="GridView1_ctl05_RadioButton4">D</label>
                                                        </duoxuan>
                                                    </form>
                                                </td>
                                            </tr>

                                        </table>
                                    </td>
                                </tr>

                                <tr th:if="${TrueOrFalse.size()>0}">
                                    <td class="font" style="width: 100%">&nbsp;

                                        <table cellspacing="0" cellpadding="4" border="0" id="GridView3"
                                               style="color:#333333;width:100%;border-collapse:collapse;">
                                            <tr style="color:White;background-color:#507CD1;font-weight:bold;">
                                                <th scope="col">
                                                    <span id="GridView3_ctl01_Label11">判断题(每题</span>
                                                    <span id="GridView3_ctl01_Label35"
                                                          th:text="${TrueOrFalse.get(0).getQuestionScore()}">2</span>
                                                    <span id="GridView3_ctl01_Label36">分)</span>
                                                </th>
                                            </tr>
                                            <tr style="background-color:White;" th:each="pd:${TrueOrFalse}">
                                                <td>
                                                    <table th:class="${pdStat.index+1}%2==0? 'white':'blue'">
                                                        <tr>
                                                            <td style="width: 800px; height: 40px;">
                                                                <span id="GridView3_ctl11_Label12"
                                                                      th:text="${pdStat.index+1}">10</span>
                                                                <span id="GridView3_ctl11_Label13"
                                                                      th:text="${pd.questionContent}">、windows98中鼠标、键盘均可用。</span>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 800px">
                                                                <form>
                                                                    <input id="GridView3_ctl11_RadioButton5"
                                                                           type="radio" name="panduan"
                                                                           th:value="${pd.questionId}+'.1'"/><label
                                                                        for="GridView3_ctl11_RadioButton5">对</label>
                                                                    <input id="GridView3_ctl11_RadioButton6"
                                                                           type="radio" name="panduan"
                                                                           th:value="${pd.questionId}+'.0'"/><label
                                                                        for="GridView3_ctl11_RadioButton6">错</label>
                                                                </form>
                                                            </td>


                                                        </tr>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>


                                        </table>

                                    </td>

                                </tr>


                            </div>
                            <!--&lt;!&ndash;多选题end&ndash;&gt;



                                </tr>-->

                            <!--简答题-->

                                <tr th:if="${shortAnswer.size()>0}">
                                    <td class="font" style="width: 100%">&nbsp;
                                        <table cellspacing="0" cellpadding="3" rules="cols" border="1"
                                               style="background-color:White;border-color:#999999;border-width:1px;border-style:None;width:100%;border-collapse:collapse;">
                                            <tr style="color:White;background-color:#000084;font-weight:bold;">
                                                <th scope="col">
                                                    <span id="GridView5_ctl01_Label21">简答题(每题</span>
                                                    <span id="GridView5_ctl01_Label31"
                                                          th:text="${shortAnswer.get(0).getQuestionScore()}">10</span>
                                                    <span id="GridView5_ctl01_Label34">分)</span>
                                                </th>
                                            </tr>
                                            <tr style="color:Black;background-color:Gainsboro;"
                                                th:each="jd:${shortAnswer}">
                                                <td>
                                                    <table style="width: 100%"
                                                           th:class="${jdStat.index+1}%2==0? 'white':'blue'">
                                                        <tr>
                                                            <td style="width: 100%; height: 10px;">
                                                                <span id="GridView5_ctl07_Label22"
                                                                      th:text="${jdStat.index+1}">1</span>
                                                                <span id="GridView5_ctl07_Label23"
                                                                      th:text="${jd.questionContent}">、物理层的含义、作用？</span>

                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 100%; height: 10px">
                                                                <span id="GridView5_ctl07_Label24"
                                                                      style="color:RoyalBlue;">"请将自己的见解写到下面的文本框"</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 100%; height: 47px">
                                                                <textarea name="jianda" rows="2" cols="20"
                                                                          th:questionId="${jd.questionId}"
                                                                          th:id="${jd.questionId}"
                                                                          style="height:70px;width:100%;"></textarea>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>

                            <!--简答题end-->
                            <!--编程题-->

                                <tr th:if="${BCT.size()>0}">
                                    <td class="font" style="width: 100%">&nbsp;
                                        <table cellspacing="0" cellpadding="3" rules="cols" border="1" id="GridView5"
                                               style="background-color:White;border-color:#999999;border-width:1px;border-style:None;width:100%;border-collapse:collapse;">
                                            <tr style="color:White;background-color:#000084;font-weight:bold;">
                                                <th scope="col">
                                                    <span>编程题(每题</span>
                                                    <!--/*@thymesVar id="get" type="com"*/-->
                                                    <span th:text="${BCT.get(0).getQuestionScore()}">10</span>
                                                    <span>分)</span>
                                                </th>
                                            </tr>
                                            <tr style="color:Black;background-color:Gainsboro;"
                                                th:each="bct:${BCT}">
                                                <td>
                                                    <table style="width: 100%"
                                                           th:class="${bctStat.index+1}%2==0? 'white':'blue'">
                                                        <tr>
                                                            <td style="width: 100%; height: 10px;">
                                                                <span th:text="${bctStat.index+1}">1</span>
                                                                <span th:text="${bct.questionContent}">、物理层的含义、作用？</span>

                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 100%; height: 10px">
                                                                <span style="color:RoyalBlue;">"请将代码到下面的文本框"</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 100%; height: 47px">
                                                                <textarea name="biancheng" rows="4" cols="40"
                                                                          th:questionId="${bct.questionId}"
                                                                          th:id="${bct.questionId}"
                                                                          style="height:140px;width:100%;"></textarea>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>


                            <!--编程题end-->
                        </table>
                    </div>
                </td>
            </tr>
<tr style="color:black;background-color:white;font-weight:bold;">
    <td>
        <table align="center">

            <tr>
                <td align="center" style="width: 100%">
                    <span  class="font">请考生提交后,填写完整考生信息,并记住准考证号,查询成绩(只有纯客观题试卷提交见成绩)</span></td>
            </tr>
            <tr>
                <td align="center" style="width:100%; height: 1px">
                    <input type="button" name="Button1" value="提交" id="Button1"
                           onclick="commit()"/></td>
            </tr>
            <tr>
                <td style="width: 583px; height: 16px;">
                </td>
            </tr>
        </table>

    </td>

</tr>


        </table>
    </div>


</form>
</body>
</html>
