

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head><title>
	成绩查询
</title><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><style type="text/css">
.font{font-size:13px;}
body {
  background-image: url("/static/Img/back.jpg");
  /*background: #00FFFF;*/
}
</style></head>
<body>
    <form name="form1" method="post" action="/user/FindGrade.action" onsubmit="javascript:return WebForm_OnSubmit();" id="form1">

    <div>
      <table width="800" border="0" align="center" cellpadding="1" cellspacing="1">
        <tr>
          <td bgcolor="#FFFFFF"><div align="center"><img src="/static/Img/glm03.jpg" width="467" height="85" /></div></td>
        </tr>
        <tr>
          <td bgcolor="#CCCCCC"><div align="right">
              <a id="HyperLink1" class="font" href="login.action">返回</a>
          </div></td>
        </tr>
      </table>
      <table width="800" align="center" >
        
        <tr>
          <td bgcolor="#CCCCCC"><table width="100%" bgcolor="#FFFFFF" >
            <tr>
              <td style="width: 129px">&nbsp;</td>
            <td colspan="2"><div align="left"></div></td>
            </tr>
            <tr class="font">
              <td style="width: 129px">&nbsp;</td>
            <td colspan="2"><div align="left">
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                输入准考证号和密码查询</div></td>
            </tr>
              <tr class="font">
                  <td style="width: 129px">                  </td>
                  <td colspan="2">
                      </td>
            </tr>
            <tr class="font">
              <td style="width: 129px">&nbsp;</td>
            <td><div align="right"></div></td>
            <td>&nbsp;</td>
            </tr>
            <tr class="font">
              <td style="width: 129px; height: 21px">&nbsp;</td>
            <td width="18%" style="height: 21px"><div align="right"></div></td>
            <td width="56%" style="height: 21px">&nbsp;</td>
            </tr>
            <tr class="font">
              <td style="width: 129px">&nbsp;</td>
            <td><div align="right">
                准考证号码:</div></td>
            <td>&nbsp;<input name="username" type="text" id="TextBox1" style="width:108px;" />
                <span id="RequiredFieldValidator1" style="display:inline-block;color:Red;width:199px;visibility:hidden;">准考证号码不能为空</span></td>
            </tr>
            <tr class="font">
              <td style="width: 129px">&nbsp;</td>
            <td><div align="right"></div></td>
            <td>&nbsp;</td>
            </tr>
            <tr class="font">
              <td style="width: 129px">&nbsp;</td>
            <td><div align="right">
                密码:</div></td>
            <td>&nbsp;<input name="password" type="password" id="TextBox2" style="width:112px;" />
                <span id="RequiredFieldValidator2" style="display:inline-block;color:Red;width:166px;visibility:hidden;">密码不能为空</span></td>
            </tr>
            <tr class="font">
              <td style="width: 129px; height: 17px;">&nbsp;</td>
            <td style="height: 17px"><div align="right"></div></td>
            <td style="height: 17px">&nbsp;</td>
            </tr>
            <tr class="font">
              <td style="width: 129px">&nbsp;</td>
            <td><div align="right"></div></td>
            <td>&nbsp;<input type="submit" name="Button1" value="查询" id="Button1" /></td>
            </tr>
            <tr>
              <td style="width: 129px; height: 21px">&nbsp;</td>
            <td style="height: 21px"><div align="right"></div></td>
            <td style="height: 21px">&nbsp;</td>
            </tr>
            <tr>
              <td style="width: 129px; height: 21px">&nbsp;</td>
            <td style="height: 21px"><div align="right"></div></td>
            <td style="height: 21px">&nbsp;</td>
            </tr>
            <tr>
              <td style="width: 129px">&nbsp;</td>
            <td><div align="right"></div></td>
            <td>&nbsp;</td>
            </tr>
            <tr>
              <td style="width: 129px">&nbsp;</td>
            <td><div align="right"></div></td>
            <td>&nbsp;</td>
            </tr>
            <tr>
              <td style="width: 129px">&nbsp;</td>
            <td><div align="right"></div></td>
            <td>&nbsp;</td>
            </tr>
            <tr>
              <td style="width: 129px">&nbsp;</td>
            <td><div align="right"></div></td>
            <td>&nbsp;</td>
            </tr>
            <tr>
              <td style="width: 129px">&nbsp;</td>
            <td><div align="right"></div></td>
            <td>&nbsp;</td>
            </tr>
            <tr>
              <td height="21" style="width: 129px">&nbsp;</td>
            <td height="21"><div align="right"></div></td>
            <td height="21">&nbsp;</td>
            </tr>
          </table></td>
        </tr>
      </table>
    
    </div>


        </form>
</body>
</html>
