<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head id="Head1"><title>
	查询结果
</title><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><style type="text/css">

body {
	background-image: url("/static/Img/back.jpg");
}
.style1 {font-size: 13px}
.style2 {color: #FF0000;
	font-size: 13px;
}
.style4 {color: #00FF00;
	font-size: 13px;
}
.style7 {color: #0000FF; font-size: 13px; }
.style8 {color: #FF00FF; font-size: 13px; }
.style5 {color: #0000FF}
.style6 {color: #FF00FF}
.style10 {font-size: 9px}

</style></head>
<body>
    <form name="form1" method="post" action="GradeOut.aspx" id="form1">
<div>
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMTE4OTI1NDgzMQ9kFgICAw9kFgICAw8PFgIeBFRleHQFKemcgOimgeWKquWKm+S6hu+8geaCqOeahOaIkOe7qeS4uu+8mjI05YiGZGRk+Few2yIABb6QN7BveXzgWxMRdFk=" />
</div>

    <div>
      <table width="800" align="center" >
        <tr>
          <td bgcolor="#FFFFFF"><div align="center">
            <table width="100%" >
              <tr>
                <td height="75"><div align="center"><img src="/static/Img/glm03.jpg" width="760" height="71" /></div></td>
              </tr>
              <tr>
                <td height="21">&nbsp;</td>
              </tr>
            </table>
          </div></td>
        </tr>
        <tr>
          <td bgcolor="#DAD6F8"><span class="style1">&nbsp;
            <a id="HyperLink1" href="Default.aspx">返回</a>
          </span>            </td>
        </tr>
      </table>
    
    <table width="800" height="450" align="center" >
        <tr>
          <td bgcolor="#CCCCCC"><table width="100%" bgcolor="#FFFFFF" >
            <tr>
              <td width="9%">&nbsp;</td>
              <td width="20%">&nbsp;</td>
              <td width="4%">&nbsp;</td>
              <td width="67%">&nbsp;</td>
            </tr>
            <tr>
              <td colspan="2"><div align="center" class="style2">
                  &nbsp;</div></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td><div align="right" class="style1">
                  &nbsp;</div></td>
              <td></td>
              <td>&nbsp;</td>
              <td><span class="style1"><span class="style2">
                  <span id="Label1" th:text="${msg}">需要努力了！您的成绩为：24分</span>
              </span></span></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td style="height: 24px">&nbsp;</td>
              <td style="height: 24px">&nbsp;</td>
              <td style="height: 24px">&nbsp;</td>
              <td style="height: 24px"><span class="style1"></span></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td><span class="style1"></span></td>
            </tr>
            <tr>
              <td colspan="2" rowspan="10">&nbsp;
              </td>
              <td></td>
              <td>
                  <div align="center">
                    <input type="button" name="Button1" value="返回" id="Button1" onclick="javascript:window.location.href='toLogin.action'" />
              </div></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><span class="style1"></span></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><span class="style1"><img src="Img/line.jpg" width="385" height="4" /></span></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><span class="style1"></span></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td colspan="2">&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td colspan="2">&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td colspan="4"><img src="Img/white.JPG" width="757" height="12" /></td>
            </tr>
          </table></td>
        </tr>
      </table>
    </div>
    
<div>

	<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEWAgKX3YXCAwKM54rGBs4nM7XFFLTBVhFRwOJ3LgpKsbBg" />
</div></form>
</body>
</html>
