<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><title>
	无标题页
</title><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><style type="text/css">
<!--
body {
	background-image: url();
	background-color: #C4F4EE;
}
-->
</style></head>
<body>
  <form name="form1" method="post" action="Succeed.aspx" id="form1">
<div>
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwULLTEwNDMwMzY4NTlkZC87nJ82GuxWx1haJDogeZleZK4d" />
</div>

    <p>&nbsp;</p>
    <div>
      <table width="800" border="0" align="center" bgcolor="#FFFFFF">
        <tr>
          <td><div align="center"><img src="/static/Img/xiao88.jpg" width="481" height="73" /></div></td>
        </tr>
        <tr>
          <td bgcolor="#CCCCCC">&nbsp;</td>
        </tr>
      </table>
      <table width="800" height="250" border="1" align="center" bordercolor="#999999" bgcolor="#CCCCCC">
      <tr bordercolor="#CCCCCC">
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bordercolor="#CCCCCC">
        <td width="50%">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bordercolor="#CCCCCC">
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bordercolor="#CCCCCC">
        <td colspan="2"><table width="100%" border="0">
          <tr>
            <td width="34%" style="width: 35%">&nbsp;</td>
            <td width="41%" style="width: 39%">&nbsp;<span id="Label1" style="color:Blue;" th:text="'信息采集成功,当前非主观题得分：'+${score}+',最终成绩请三天后在主页查询'">信息采集成功，请三天后在主页查询成绩</span></td>
            <td width="25%">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr bordercolor="#CCCCCC">
        <td>&nbsp;</td>
        <td>&nbsp;        </td>
      </tr>
      <tr bordercolor="#CCCCCC">
        <td>&nbsp;</td>
        <td><input type="button" name="Button1" value="返回" id="Button1" onclick="javascript:window.location.href='index.action'"/></td>
      </tr>
      <tr bordercolor="#CCCCCC">
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr bordercolor="#CCCCCC">
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>
  
    
    </div>

<div>

	<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEWAgK2973DDAKM54rGBvIjsu9uwckOXn+XwPWGO2bR19/m" />
</div></form>
</body>
</html>
