<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>考试主页
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style type="text/css">


        body{
            background-image: url("/static/Img/back.jpg");
        }

        .style1 {
            font-size: 13px
        }

        .style2 {
            color: #FF0000;
            font-size: 13px;
        }

        .style4 {
            color: #00FF00;
            font-size: 13px;
        }

        .style5 {
            color: #0000FF
        }

        .style6 {
            color: #FF00FF
        }

        .style7 {
            color: #0000FF;
            font-size: 13px;
        }

        .style8 {
            color: #FF00FF;
            font-size: 13px;
        }

        .style9 {
            color: #000000
        }


    </style>
</head>
<body>
<form name="form1" method="post" action="" id="form1">


    <div>
        <table width="800" align="center">
            <tr bgcolor="#FFFFFF">
                <td colspan="4"><img src="/static/Img/333.jpg" width="490" height="79"/></td>
            </tr>
            <tr bgcolor="#D7D1F8" class="style1">
                <td style="width: 9%">&nbsp;
                    <a id="HyperLink1" href="Login.html" style="display:inline-block;width:61px;">管理登录</a></td>
                <td style="width: 9%">&nbsp;
                    <a id="HyperLink2" href="toExamOnline.action" style="display:inline-block;width:63px;">在线考试</a></td>
                <td style="width: 11%">&nbsp;
                    <a id="HyperLink3" href="toFindGrade.action">成绩查询</a></td>
                <td width="58%">&nbsp;</td>
            </tr>
        </table>
        <table width="80%" height="450" align="center">
            <tr>
                <td bgcolor="#CCCCCC">
                    <table width="800" bgcolor="#FFFFFF">
                        <tr>
                            <td width="27%" bgcolor="#CCCCCC">
                                <table width="100%" height="464" bgcolor="#FFFFFF">
                                    <tr>
                                        <td height="431" bgcolor="#FFFFFF"><img src="/static/Img/online.jpg" width="192"
                                                                                height="447"/></td>
                                    </tr>
                                </table>
                            </td>
                            <td width="73%" bgcolor="#CCCCCC">
                                <table width="100%" height="447" bgcolor="#FFFFFF">
                                    <tr>
                                        <td width="4%">&nbsp;</td>
                                        <td width="4%">&nbsp;</td>
                                        <td width="92%">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td colspan="2"><span class="style2">系</span><span class="style7">统</span><span
                                                class="style4">简</span><span class="style8">介</span></td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td class="style1"> 入职考试系统是基于B/S模式的，有效提高入职考试效率，


                                            规范考试流
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td colspan="2">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td colspan="2" class="style1"> 程的完整的应用系统，系统含题型管理、题库管理、考试管理和用户权限</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td colspan="2"><p class="style1">管理等基本模块，是企业人力资源管理的好帮手、好工具。</p></td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td height="32">&nbsp;</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</form>
</body>
</html>
