<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><title>
	无标题页
</title><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><style type="text/css">
.font{font-size:13px;}
<!--
body {
	background-color: #C4F4EE;
}
-->
</style></head>
<body>
    <form name="form1" method="post" action="AddUser.action"  id="form1">

    <div>
      <table width="800"  border="0" align="center">
        <tr>
          <td bgcolor="#FFFFFF" style="width: 774px"><img src="/static/Img/22.jpg" width="395" height="62" /></td>
        </tr>
        <tr>
          <td bgcolor="#CCCCCC" style="width: 774px"><div align="right">
              <a id="HyperLink1" class="font" href="toMain.action">返回</a>
</div></td>
        </tr>
      </table>
    
      <table width="800" height="450"  border="1" align="center" bordercolor="#666666" bgcolor="#FFFFFF">
        <tr>
          <td valign="top" bordercolor="#FFFFFF"><table width="100%%"  border="0">
            <tr bgcolor="#CCFFCC">
              <td colspan="2"><div align="center">
                  添加完整信息</div></td>
            </tr>
            <tr>
              <td width="39%" style="height: 23px"><div align="right"></div></td>
              <td width="61%" style="height: 23px">&nbsp;</td>
            </tr>
            <tr class="font">
              <td><div align="right">
                  帐 号：</div></td>
              <td>&nbsp;<input name="username" type="text" id="username" />
                  </td>
            </tr>
            <tr class="font">
              <td><div align="right">
                  密 码：</div></td>
              <td>&nbsp;<input name="password" type="password" id="TextBox2" style="width:147px;" />
                  <span id="RequiredFieldValidator2" style="color:Red;visibility:hidden;">请输入密码</span></td>
            </tr>

            <tr class="font">
              <td><div align="right">
                  权 限：</div></td>
              <td>&nbsp;<select name="level" style="width:68px;">
	<option value="0">0</option>
	<option value="1">1</option>

</select></td>
            </tr>

            <tr class="font">
              <td><div align="right"></div></td>
              <td>&nbsp;</td>
            </tr>
            <tr class="font">
              <td><div align="right"></div></td>
              <td>&nbsp;<input type="submit" name="Button1" value="确　认" id="Button1" /></td>
            </tr>
            <tr>
              <td><div align="right"></div></td>
              <td>&nbsp;</td>
            </tr>
          </table></td>
        </tr>
      </table>
      </div>



<div>

	<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEWFALB4Yj0CALs0bLrBgLs0fbZDALs0Yq1BQLQuaSLBgKU4aSLBgK/rsWtAwLVgtWjBAKNjpR2Ar+94twEAuzR7nwC7NGC2AkCj4uliwYCkIuliwYCkYuliwYCkouliwYCk4uliwYClIuliwYC7NHGxg8CjOeKxgZgGoxo1XJ1U2G/qVfgwYqWHyz2Ow==" />
</div>

<script type="text/javascript">
<!--
var Page_ValidationActive = false;
if (typeof(ValidatorOnLoad) == "function") {
    ValidatorOnLoad();
}

function ValidatorOnSubmit() {
    if (Page_ValidationActive) {
        return ValidatorCommonOnSubmit();
    }
    else {
        return true;
    }
}
// -->
</script>
        </form>
</body>
</html>
