<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>登录</title>
</head>
<style>
    body {
        background-image: url("/static/Img/back.jpg");
    }
</style>
<script>
   function msg() {
       var msg = document.getElementById("msg").value;
       if (msg != '') {
           alert(msg);
       }
   }
</script>
<body onload="msg()">
<input th:type="hidden" id="msg" th:value="${msg}">
<form name="form1" method="post" action="login.action" id="form1">
    <div>
        <table width="800" align="center">
            <tr>
                <td bgcolor="#FFFFFF">
                    <div align="center"><img src="../static/Img/666.jpg" width="481" height="73"/></div>
                </td>
            </tr>
            <tr>
                <td bgcolor="#D7D6F8">&nbsp;
                    <a id="HyperLink1" href="Default.html"><span class="style1">返回</span></a></td>
            </tr>
        </table>

        <table width="800" height="450" align="center">
            <tr>
                <td bgcolor="#CCCCCC">
                    <table width="100%" bgcolor="#FFFFFF">
                        <tr>
                            <td width="60%" height="450" background="../static/Img/login.jpg">&nbsp; &nbsp; &nbsp;
                                <table width="100%">
                                    <tr>
                                        <td style="width: 298px">&nbsp;</td>
                                        <td width="452">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 298px">&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 298px">&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 298px">
                                            <div align="right"></div>
                                        </td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 298px">
                                            <div align="right" class="style1">
                                                <span id="Label2" style="display:inline-block;width:48px;">帐号:</span>&nbsp;
                                            </div>
                                        </td>
                                        <td>&nbsp;<input name="username" type="text" id="TextBox1"
                                                         style="width:118px;"/>
                                            <span id="RequiredFieldValidator1"
                                                  style="color:DodgerBlue;visibility:hidden;">请输入帐号</span></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 298px">
                                            <div align="right">
                                                &nbsp;
                                            </div>
                                        </td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 298px">
                                            <div align="right" class="style1">
                                                <span id="Label3" style="display:inline-block;width:48px;">密码:</span>&nbsp;
                                            </div>
                                        </td>
                                        <td>&nbsp;<input name="password" type="password" id="TextBox2"
                                                         style="width:118px;"/>
                                            <span id="RequiredFieldValidator2"
                                                  style="color:DodgerBlue;visibility:hidden;">请输入密码</span></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 298px">&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 298px">&nbsp;</td>
                                        <td>&nbsp;<input type="submit" name="Button1" value="登录" onclick=""
                                                         id="Button1"/></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 298px">&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 298px">&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 298px">&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>


</form>
</body>
</html>
