<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><title>
    阅卷
</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style type="text/css">
        .font {
            font-size: 13px;
        }

        body {
            background-image: url("/static/Img/back.jpg");
        }
    </style>
    <script src="/static/js/jquery-3.3.1.js"></script>
    <script src="/static/js/readPaper.js"></script>
</head>
<body>

<table width="800" align="center">
    <tr>
        <td bgcolor="#FFFFFF"><img src="/static/Img/ting01.jpg" width="395" height="62"/></td>
    </tr>
    <tr>
        <td bgcolor="#CCCCCC" style="height: 21px">
            <div align="right" class="font">
                <a id="HyperLink1" href="toMain.action">返回</a>&nbsp;
            </div>
        </td>
    </tr>
</table>
<table width="800" height="450" border="1" align="center" bordercolor="#999999" bgcolor="#FFFFFF">
    <tr>
        <td valign="top" bordercolor="#FFFFFF">
            <table width="100%" border="0" align="center" bgcolor="#FFFFFF">
                <tr>
                    <td style="height: 22px; width: 757px;">
                        <table width="100%" border="0">
                            <tr>
                                <td class="font" style="width: 174px; height: 10px;">
                                    <span id="Label1">请选择待批阅的试卷</span>
                                    ：
                                </td>
                                <td class="font" style="width: 131px; height: 10px;">
                                    <select name="DropDownList1" id="username" style="width:117px;">
                                        <option>-请选择-</option>
                                        <option th:each="user:${allUser}" th:value="${user.username}"
                                                th:text="${user.username}">XHG20080305
                                        </option>

                                    </select></td>
                                <td class="font" style="height: 10px; width: 44px;"><span class="font"
                                                                                          style="height: 10px; width: 44px;">
<!--                     <input type="button" name="Button1" value="查询" id="Button1" onclick="select()" />-->
                  <button onclick="select()">查询</button>
                   </span></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr style="display: none" id="paperAndUsername">
                    <td class="font" style="height: 2px; width: 757px;"><span id="Label23">考号为:200831618152试卷号:XHG20080305</span>
                        <input type="hidden" name="HiddenField1" id="HiddenField1" value="200831618152"/>
                        <input type="hidden" name="HiddenField2" id="HiddenField2" value="XHG20080305"/>
                        <button onclick="readPaper()">批阅</button>
                    </td>
                    <td></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>

            <div id="userPaper" style="display: none">
                <table cellspacing="0" cellpadding="4" border="0" id="GridView3"
                       style="color:#333333;width:100%;border-collapse:collapse;">
                    <tr style="color:White;background-color:#5D7B9D;font-weight:bold;">
                        <th scope="col">
                            <span>非主观题</span>
                        </th>
                    </tr>
                    <tr style="color:#333333;background-color:#F7F6F3;">
                        <td>
                            <table style="width: 100%" class="userPaper">
                                <div style="display: none" id="answer">

                                </div>


                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>

</table>


</body>
</html>
