<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>title</title>
</head>

<body>
<form name="form1" method="post" action="doThemeSortUpdate.action" id="form1">

    <div>
        <table width="800"  border="0" align="center">
            <tr>
                <td bgcolor="#FFFFFF"><img src="../static/Img/txgl.jpg" width="485" height="66" /></td>
            </tr>
            <tr>
                <td bgcolor="#CCCCCC"><div align="right" class="font">
                    <a id="HyperLink1" href="toMain.action">返回</a>
                    &nbsp;</div></td>
            </tr>
        </table>

        <table width="800" height="450"  border="1" align="center" bordercolor="#666666">
            <tr>
                <td valign="top" bordercolor="#FFFFFF" bgcolor="#FFFFFF"><table width="100%%"  border="0">
                    <tr bgcolor="#CCFFCC">
                        <td colspan="2"><div align="center">
                            修改题型信息(仅限分值和备注)</div></td>
                    </tr>
                    <tr class="font">
                        <td width="43%" height="30"><div align="right">
                            <span id="Label5">题型编号：</span>&nbsp;</div></td>
                        <td width="57%" height="30">
                            <span id="Label6" th:text="${subjectType.subjectid}">1</span>
                        <input th:type="hidden" th:name="subjectid" th:value="${subjectType.subjectid}">
                        </td>
                    </tr>
                    <tr class="font">
                        <td height="30"><div align="right">
                            <span id="Label1">题型名称：</span>
                        </div></td>
                        <td height="30">
                            <input name="subjecttype"th:value="${subjectType.subjecttype}" type="text" value="单选题" readonly="readonly" id="TextBox1" /></td>
                    </tr>
                    <tr class="font">
                        <td height="30"><div align="right">
                            <span id="Label2">阅卷类型：</span>
                        </div></td>
                        <td height="30">
                            <select name="DropDownList1" id="DropDownList1" disabled="disabled" style="width:40px;">
                                <option selected="selected" value="0" th:value="${subjectType.readtype}">0</option>
                                <option value="1">1</option>

                            </select>
                            <input type="hidden" name="readtype" th:value="${subjectType.readtype}">
                            <span id="Label7">0:机器阅卷1:人工阅卷</span></td>
                    </tr>
                    <tr class="font">
                        <td height="30"><div align="right">
                            <span id="Label3">分　　值：</span>
                        </div></td>
                        <td height="30">
                            <input name="score" type="text" th:value="${subjectType.score}" value="4" id="TextBox2" />
                            <span id="RangeValidator1" style="color:Red;visibility:hidden;">输入分值不正确！</span>
                            <span id="RequiredFieldValidator2" style="color:Red;visibility:hidden;">请输入分值</span></td>
                    </tr>
                    <tr class="font">
                        <td height="30"><div align="right">
                            <span id="Label4">备　　注：</span>
                        </div></td>
                        <td height="30">
                            <input name="remark" type="text"th:value="${subjectType.remark}" value="有且只有一个选项" id="TextBox3" />
                            <span id="RequiredFieldValidator1" style="color:Red;visibility:hidden;">请输入备注</span></td>
                    </tr>
                    <tr>
                        <td style="height: 29px"><div align="right"></div></td>
                        <td style="height: 29px">&nbsp;</td>
                    </tr>
                    <tr>
                        <td height="30"><div align="right"></div></td>
                        <td height="30">
                            <input type="submit" name="Button1" value="确　定" id="Button1" /></td>
                    </tr>
                    <tr>
                        <td height="30"><div align="right"></div></td>
                        <td height="30">&nbsp;</td>
                    </tr>
                    <tr>
                        <td height="30"><div align="right"></div></td>
                        <td height="30">&nbsp;</td>
                    </tr>
                </table></td>
            </tr>
        </table>
    </div>



    <div>

        <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEWBwL0+4SSBgLs0bLrBgKNi6WLBgKSi6WLBgLs0fbZDALs0Yq1BQKM54rGBlVUC0aZ59Pr0FlFup6jXxb8bWaM" />
    </div>


</form>
</body>
</html>
